@define-color bg #282828;
@define-color gray #928374;
@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3879b;
@define-color aqua #8ec07c;
@define-color fg #ebdbb2;

* {
    border: none;
    border-radius: 0;
    background: transparent;
    font-family: Hack Nerd Font;
    font-size: 12px;
    min-height: 0;
    padding: 0;
    margin: 0px;
}

window#waybar {
    background: alpha(@bg, 0.9);
}

tooltip {
    background: alpha(@bg, 0.9);
}

#tags,
#workspaces,
#window,
#pulseaudio,
#cpu,
#memory,
#battery,
#clock,
#language,
#layout,
#tray {
    background: transparent;
    margin: 0 2px;
    padding: 0 2px;
}

#tags button,
#workspaces button {
    min-width: 0;
    padding: 0 6px;
    color: @gray;
    margin-top: 2px;
    border-bottom: 2px solid transparent;
}

#tags button.focused,
#workspaces button.focused {
    color: @green;
    border-bottom: 2px solid @lavender;
}

#tags button.urgent,
#workspaces button.urgent {
    color: @yellow;
    border-bottom: 2px solid @yellow;
}

#window {
    color: @fg;
    /*
    * workaround to make the bar not resize when there are weird characters in
    * the window title
    * see also: https://github.com/Alexays/Waybar/issues/2026#issuecomment-1780717766
    */
    margin-top: -50px;
    margin-bottom: -50px
}

#layout {
    color: @green;
}

#pulseaudio {
    color: @yellow;
}

#pulseaudio.source-muted {
    color: @gray;
}

#cpu {
    color: @blue;
}

#memory {
    color: @purple;
}

#clock {
    color: @aqua;
}

#battery {
    color: @red;
}

#battery.critical {
    color: @bg;
    background: @red;
}

#battery.warning {
    color: @bg;
    background: @yellow;
}

#battery.charging {
    color: @bg;
    background: @green;
}

#tray {
    color: @bg;
}
