@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    background: transparent;
    font-family: Hack Nerd Font;
    font-size: 12px;
    min-height: 0;
    padding: 0;
    margin: 0px;
}

window#waybar {
    background: alpha(@base, 0.9);
}

window#waybar.fullscreen {
    background: alpha(@surface0, 0.9);
}

tooltip {
    background: alpha(@base, 0.9);
}

#tags,
#window,
#pulseaudio,
#cpu,
#memory,
#clock,
#language,
#layout,
#tray {
    background: transparent;
    margin: 0 2px;
    padding: 0 2px;
}

#tags button {
    min-width: 0;
    padding: 0 6px;
    color: @surface2;
    margin-top: 2px;
    border-bottom: 2px solid transparent;
}

#tags button.focused {
    color: @lavender;
    border-bottom: 2px solid @lavender;
}

#tags button.urgent {
    color: @yellow;
    border-bottom: 2px solid @yellow;
}

#window {
    color: @lavender;
    /*
    * workaround to make the bar not resize when there are weird characters in
    * the window title
    * see also: https://github.com/Alexays/Waybar/issues/2026#issuecomment-1780717766
    */
    margin-top: -50px;
    margin-bottom: -50px
}

#layout {
    color: @lavender;
}

#pulseaudio {
    color: @sapphire;
}

#cpu {
    color: @sky;
}

#memory {
    color: @teal;
}

#clock {
    color: @green;
}

#tray {
    color: @base;
}
