@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    background: transparent;
    font-family: Iosevka Nerd Font;
    font-size: 14px;
    min-height: 0;
    padding: 0;
    margin: 0px;
}

window#waybar {
    background: alpha(@base, 0.9);
}
window#waybar.fullscreen {
    background: alpha(@surface0, 0.9);
}

#workspaces,
#window,
#pulseaudio,
#cpu,
#memory,
#clock,
#language,
#tray {
    background: transparent;
    padding: 0 2px;
    margin: 0 2px;
}

#workspaces button {
    color: @surface2;
}
#workspaces button.active {
    color: @lavender;
}

#window {
    color: @lavender;
    /*
    * workaround to make the bar not resize when there are weird characters in
    * the window title
    * see also: https://github.com/Alexays/Waybar/issues/2026#issuecomment-1780717766
    */
    margin-top: -50px;
    margin-bottom: -50px
}

#pulseaudio {
    color: @sapphire;
}

#cpu {
    color: @sky;
}

#memory {
    color: @teal;
}

#clock {
    color: @green;
}

#tray {
    color: @base;
}
